.navbar {
    position: sticky;
    top: 0;
    margin: 0;
    background-color: white;
    z-index: 100;
}

.navbar > .navbar-content{
    margin: 0;
    display: flex;
    height: 80px;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 1px solid #bbbbbb;
    box-shadow: 0 1px 10px 2px #dddddd;
}

.navbar * {
    margin: auto 0;
}

.navbar ul {
    list-style: none;
    margin-right: 20px;
}

.navbar li {
    display: inline;
    font-weight: 600;
    cursor: pointer;
    margin: 0 10px;
}

.navbar li:hover {
   color: rgb(114, 114, 114);
}